nav {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid lightgrey;

  a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    margin: 1rem 0;
  }
}

main {
  max-width: 1600px;
  margin-inline: auto;
}